yaml-files:
  - '*.yaml'
  - '*.yml'
  - .yamllint

extends: default

rules:
  line-length: disable
  indentation:
    spaces: 2
  new-line-at-end-of-file: enable
  trailing-spaces: enable
  empty-lines: enable
  comments: disable
  document-start: disable
  quoted-strings:
    required: only-when-needed
